<div class="bg-white mr-auto ml-auto pt-16 pr-4 pb-16 pl-4 sm:max-w-xl md:max-w-full md:px-24 lg:px-8 lg:py-20">
  <div rounded="md" class="shadow-xl pt-8 pr-8 pb-8 pl-8 sm:p-16">
    <div class="flex flex-col lg:flex-row">
      <div class="lg:mb-0 lg:w-1/2 lg:pr-5 mb-6">
        <div>
          <p class="block text-3xl font-bold tracking-tight text-gray-900 leading-6 font-sans sm:text-4xl">
            <span style="letter-spacing: -0.9px;">あなたは月末の集計作業に</span>
          </p>
          <p class="inline text-3xl font-bold tracking-tight text-gray-900 font-sans sm:text-4xl sm:leading-none"></p>
          <p class="inline text-blue-700 text-3xl font-bold tracking-tight font-sans sm:text-4xl
              sm:leading-none">時間を取られてうんざりしていませんか？</p>
        </div>
      </div>
      <div class="lg:w-1/2">
        <p class="mb-4 text-base text-left text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam</p>
        <a class="w-3/12 text-blue-700 text-center flex font-semibold items-center transition-colors duration-200
            hover:text-blue-900">Learn more</a>
      </div>
    </div>
  </div>
</div>
