<section class="py-20 bg-white text-black mx-auto px-6 max-w-screen-2xl relative isolate">
  <svg class="h-[788px] w-[350px] sm:block absolute top-0 -z-10 transform-gpu hidden overflow-hidden blur-2xl right-0" viewBox="0 0 468 788" fill="none" xmlns="http://www.w3.org/2000/svg" id="Windframe_woREuuVJxD"><circle cx="44.5105" cy="378.637" r="156.383" fill="#4A3AFF"/></circle><circle cx="119.803" cy="529.24" r="156.383" fill="#702DFF"/></circle><circle cx="173.364" cy="372.857" r="156.383" fill="#2D5BFF"/></circle><g filter="url(#filter0_b_1410_520)"><circle cx="73.5409" cy="394.049" r="393.819" fill="white" fill-opacity="0.79"/></circle></g><defs><filter x="-460.404" y="-139.896" width="1067.89" height="1067.89" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feGaussianBlur in="BackgroundImageFix" stdDeviation="70.063"></feGaussianBlur><feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1410_520"></feComposite><feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1410_520" result="shape"></feBlend></filter></defs></svg>
  <div class="mx-auto max-w-3xl">
    <p class="text-sm tracking-wide mb-2 text-center text-gray-500 font-semibold uppercase">— FAQs</p>
    <p class="text-4xl md:text-5xl font-bold text-center mb-4">Freqently Asked Questions</p>
    <p class="text-lg mb-6 text-gray-500 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elitperiam
        delectus exercitationem culpa voluptas molestias architecto laborum.</p>
  </div>
  <section class="mx-auto grid gap-8 max-w-5xl">
    <div class="w-full rounded-xl bg-white border border-gray-300 p-6 space-y-4">
      <p class="text-xl md:text-2xl font-semibold">What is the function of this web applications?</p>
      <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quae quia at facere
          ratione? Quam voluptas omnis voluptate odit consequatur sunt adipisci voluptatum molestias.</p>
    </div>
    <div class="w-full rounded-xl bg-white border border-gray-300 p-6 space-y-4">
      <p class="text-xl md:text-2xl font-semibold">What is the function of this web applications?</p>
      <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quae quia at facere
          ratione? Quam voluptas omnis voluptate odit consequatur sunt adipisci voluptatum molestias.</p>
    </div>
    <div class="w-full rounded-xl bg-white border border-gray-300 p-6 space-y-4">
      <p class="text-xl md:text-2xl font-semibold">What is the function of this web applications?</p>
      <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quae quia at facere
          ratione? Quam voluptas omnis voluptate odit consequatur sunt adipisci voluptatum molestias.</p>
    </div>
    <div class="w-full rounded-xl bg-white border border-gray-300 p-6 space-y-4">
      <p class="text-xl md:text-2xl font-semibold">What is the function of this web applications?</p>
      <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quae quia at facere
          ratione? Quam voluptas omnis voluptate odit consequatur sunt adipisci voluptatum molestias.</p>
    </div>
  </section>
</section>
