<section class="py-24 bg-white text-black mx-auto px-6 lg:flex-row lg:gap-32 max-w-screen-2xl flex flex-col gap-20
    relative isolate">
  <svg class="h-[750px] w-[260px] absolute right-0 -z-10 overflow-hidden blur-2xl -top-72" viewBox="0 0 468 788" fill="none" xmlns="http://www.w3.org/2000/svg" id="Windframe_9eIR30ivqD"><circle cx="44.5105" cy="378.637" r="156.383" fill="#4A3AFF"/></circle><circle cx="119.803" cy="529.24" r="156.383" fill="#702DFF"/></circle><circle cx="173.364" cy="372.857" r="156.383" fill="#2D5BFF"/></circle><g filter="url(#filter0_b_1410_520)"><circle cx="73.5409" cy="394.049" r="393.819" fill="white" fill-opacity="0.79"/></circle></g><defs><filter x="-460.404" y="-139.896" width="1067.89" height="1067.89" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feGaussianBlur in="BackgroundImageFix" stdDeviation="70.063"></feGaussianBlur><feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1410_520"></feComposite><feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1410_520" result="shape"></feBlend></filter></defs></svg>
  <div class="w-full lg:w-1/2">
    <img
        src="https://images.pexels.com/photos/8171163/pexels-photo-8171163.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt aspectratio="square" class="object-cover max-h-[550px] w-full rounded-3xl"/>
    <div class="mt-10 space-y-6">
      <p class="text-sm tracking-wide text-gray-600 font-semibold -mb-4 uppercase">— about us</p>
      <p class="mt-4 text-4xl md:text-5xl font-bold">輸出事業にも対応</p>
      <p class="text-base md:text-lg text-gray-600 mt-2">We are a leading tech consultation and software development
          agency. We deliver custom, innovative solutions to help businesses thrive in the digital age. Our team of
          experts combines industry knowledge with cutting-edge technology to meet your unique needs.</p>
    </div>
  </div>
  <div class="lg:flex-col lg:w-1/2 w-full flex flex-col-reverse">
    <div class="mt-10 lg:mb-10 space-y-6">
      <p class="text-sm tracking-wide text-gray-600 font-semibold -mb-4 uppercase">— our story</p>
      <p class="text-4xl md:text-5xl font-bold">データベース導入による工数削減</p>
      <p class="text-base md:text-lg text-gray-600">Founded 4 years ago, westarted with a passion for technology and a
          vision to bridge the gap between businesses and digital solutions. From a small team of tech enthusiasts,
          we've grown into a trusted partner in tech consultation and software development.</p>
    </div>
    <img
        src="https://images.pexels.com/photos/7693143/pexels-photo-7693143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt aspectratio="square" class="object-cover max-h-[550px] w-full rounded-3xl"/>
  </div>
</section>
