<div class="flex w-full justify-between max-w-screen-2xl md:flex-row mt-auto mr-auto mb-auto ml-auto">
  <div class="flex flex-row bg-white justify-between items-center mt-2 mb-2 md:m-0 hidden md:flex">
    <a href="#" fontfamily="Raleway" class="text-gray-600 text-center mr-6 font-medium text-base">Product</a>
    <a href="#" fontfamily="Raleway" class="text-gray-600 text-center mr-6 font-medium text-base">Features</a>
    <a href="#" fontfamily="Raleway" class="text-gray-600 text-center font-medium text-base">Pricing</a>
  </div>
  <div class="bg-white flex-row flex items-center justify-center order-first md:order-none">
    <img src="https://res.cloudinary.com/speedwares/image/upload/v1659284687/windframe-logo-main_daes7r.png"
         class="w-12 md:w-16"/>
  </div>
  <div class="flex justify-center items-center md:justify-start hidden md:flex">
    <button class="h-9 w-24 text-gray-600 bg-white border-2 border-white flex items-center justify-center
            text-center rounded-lg text-lg font-normal mr-6">Sign in</button>
    <button class="h-9 w-24 text-white bg-blue-700 hover:bg-blue-900 hover:border-blue-900 border-2 flex
            items-center justify-center text-center border-blue-700 rounded-lg text-lg font-normal mr-auto">Sign
      up</button>
  </div>
  <div class="md:hidden flex items-center">
    <div class="outline-none mobile-menu-button">
      <svg id="Windframe_-RP4YW4A98" fill="none" strokelinecap="round" strokewidth="2" viewbox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-500 hover:text-green-500"><path id="Windframe_irI1r2ZOi7" d="M4 6h16M4 12h16M4 18h16"/></path></svg>
    </div>
  </div>
</div>
